
#loginMenu { transition: all 0.2s ease-in-out; }

@keyframes slideDown {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}
.animate-slideDown {
  animation: slideDown 0.4s ease-out;
}
